<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>createUser</servlet-name>
        <servlet-class>Controller.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>model.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>Controller.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>Controller.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GererUsager</servlet-name>
        <servlet-class>Controller.GererUsager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuprimerUser</servlet-name>
        <servlet-class>Controller.SuprimerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterCategorie</servlet-name>
        <servlet-class>Controller.AjouterCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerCategorie</servlet-name>
        <servlet-class>Controller.SupprimerCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>Controller.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterCategorieUser</servlet-name>
        <servlet-class>Controller.AjouterCategorieUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createUser</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GererUsager</servlet-name>
        <url-pattern>/GererUsager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuprimerUser</servlet-name>
        <url-pattern>/SuprimerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterCategorie</servlet-name>
        <url-pattern>/AjouterCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerCategorie</servlet-name>
        <url-pattern>/SupprimerCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterCategorieUser</servlet-name>
        <url-pattern>/AjouterCategorieUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
